<div class="appclient__contenair">
    <header>
        <div class="mon__arosaina">
            <a>AROSAINA</a>
        </div>
        <div class="mon__conmpte__menu">
            <div class="mon__sociaux">
                <button class="btn btn-sm btn-primary">Compte</button>
                <div  class="__sociaux">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-youtube"></i>
                </div>
            </div>
            <div class="mon__menu">
                <button class="btn btn-secondary">Commencer</button>
                <a href=""><i class="bi bi-list"></i><span>MENU</span></a>
            </div>
        </div>
    </header>
    <main>
        <router-outlet></router-outlet>                
    </main>
</div>
