<div class="formation">
  <header>
    <div class="header__contenu">
      <p class="p__mon__formation">
        <span class="mon__formation">spider.arosaina</span><span class="site">.com</span>
      </p>
      <div class="p__mon__contenu">
        <p class="para">
          Profiter notre cours Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p>
          Il y a une offre pour profite
        </p>
        <button class="btn" (click)="openNewTab('https://spider.arosaina.com')">Commencer</button>
      </div>
    </div>
    <img src="./../../../../assets/images/fondformationn.png" alt="">
  </header>
  <main>
    <div class="main__top">
      <div class="description">
        <h3>Description</h3>
        <p>Lorem, ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sint, officiis sed beatae eius nobis blanditiis ex tempora eaque consequatur saepe similique nemo officia, cupiditate dolore voluptate incidunt recusandae ratione.</p>
      
      </div>
      
      <img src="./../../../../assets/images/fonrmationn.jpg" alt="">
    </div>
    <div class="main__center">
      <img src="./../../../../assets/images/R.jpg" alt="">
      <div class="description">
        <h3>Description</h3>
        <p>Lorem, ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sint, officiis sed beatae eius nobis blanditiis ex tempora eaque consequatur saepe similique nemo officia, cupiditate dolore voluptate incidunt recusandae ratione.</p>
      
      </div>
    </div>
         
  </main>
</div>